<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<title>Supervisor</title>
<body>

  <%- include('layouts/header'); -%>
  <div class="container-xxl">
    <nav>
      <ul>
        <li >
          <a href="/supervisor/profile">Profile</a>
      </li>
      <li class="">
          <a href="/supervisor/pending">Pending
            </a>
      </li>
      <li class="currentL">
          <a href="/supervisor/approved"> Approved</a>
      </li>
      <li>
          <a href="/supervisor/change-password"> Change password</a>
      </li>
    
      </ul>
        <div style="text-align: center; margin:60px; ">
            <button type="button" class="btn text-white logout" onclick="window.location.href='/logout';">Log
                Out</button></div>

    </nav>
</div>

    <div class="track" style="overflow: auto;">
      

        <table class="content-table">
          <caption>
            Approved Leaves
          </caption>
          <tr>
              <th>
                  S/N
              </th>
            <th>
              Full Name
            </th>
            <th>
              Reason
            </th>
            <th>
              From
            </th>
            <th>To</th>
            <th>Days</th>
            <th>Department</th>
            <th>Status</th>
            
          </tr>
          <% if(track !=null && track.length> 0){ %>
    
            <% for (var i=0; i < track.length; i++) { %>
            
            
          <tr>
              <td><%= i+1 %></td>
            <td class="td_name"><%= track[i].staffid.surName %> <%= track[i].staffid.firstName %> <%= track[i].staffid.middleName %> </td>
            <td><%= track[i].reason %></td>
            <td><%= track[i].leave_from.getDate() %>/<%= track[i].leave_from.getMonth()+1 %>/<%= track[i].leave_from.getFullYear() %></td>
            <td><%= track[i].leave_to.getDate() %>/<%= track[i].leave_to.getMonth()+1 %>/<%= track[i].leave_to.getFullYear() %></td>
            <td><%= Math.ceil((track[i].leave_to - track[i].leave_from)/ (1000 * 60 * 60 * 24)) %></td>
            <td><%= track[i].department %></td>
            <td><%= track[i].status %></td>

                </td>
          </tr>
          <% } %> <% } %> 
          
        </table>
    
    </div>

    <script src="/public/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>