<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<body>

    <div class='headers'>
        <header>
          <img src='/public/img/logo.png'>
          <p>The True Tech staff portal</p>
          <div class="name">
            <p>Admin</p>
    
          </div>
        </header>
    </div>
    <div class="container-xxl">
        <nav>
          <ul>
            <li class="dropdown">
                <a href="#">Accounts</a>
                <ul class="dropdown-content" style="display: block;">
                    <li>
                        <a href="/admin/staff"> Staff</a>
                    </li>
                    <li class="currentL">
                        <a href="/admin/supervisor">Supervisor</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/admin/change-password">Change Password</a>
            </li>
            <li>

                
        </ul>
        <div style="text-align: center; margin:60px; ">
          <button type="button" class="btn text-white logout" onclick="window.location.href='/logout';">Log
              Out</button></div>
        </nav>
    </div>
<section class='section2'>
    
        
</style> 
<!-- <% if(success !=null && success.length> 0){ %>
  <div class="allowed">
 
  
      <% for (var i=0; i < success.length; i++) { %>
     <p> <%= success[i] %></p>
     
    </div>
    <% } %> <% } %>  -->
    <div class="track delete">
    <table class="" style="overflow:scroll;">
      <caption>Supervisors Account</caption>
      <tr>
        <th>
          S/N
      </th>
        <th>
          Full Name
        </th>
        <th>
          E-mail
        </th> 
        <th>
          Date Of Birth
        </th>
        <th>Sex</th>
        <th>Phone</th>
        <th>Department</th>
        <th>Contact address</th>
        <th>State</th>
        <th>LGA</th>
        <th>Delete Account</th>
      </tr>
      <% if(staffInfo !=null && staffInfo.length> 0){ %>

        <% for (var i=0; i < staffInfo.length; i++) { %>
        
        
      <tr>
      <form action="/delete/staff" method="post">
        <td><%= i+1 %></td>
        <td class="td_name"> <%= staffInfo[i].surName %> <%= staffInfo[i].firstName %> <%= staffInfo[i].middleName %> </td>
        <input name="id" type="hidden" value="<%= staffInfo[i].id %>" >
        <td><%= staffInfo[i].email %></td>
        <td><%= staffInfo[i].DOB%></td>
        <td><%= staffInfo[i].sex%></td>
        <td><%= staffInfo[i].phone%></td>
        <td><%= staffInfo[i].department %></td>
        <td><%= staffInfo[i].caddress %></td>
        <td><%= staffInfo[i].state %></td>
        <td><%= staffInfo[i].LGA %></td>
        <td>
           <button class="myBtn"> Delete Account</button>
            </td>
      </form>
        </tr>
      <% } %> <% } %> 
      
    </table>
</div>
</section>
<script src="/public/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>